@page "/FileManagement"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.FileManagement.Localization
@inject IStringLocalizer<FileManagementResource> L
@{
}
<h1>FileManagement</h1>
<p>@L["SamplePageMessage"]</p>