@page
@using Microsoft.Extensions.Localization
@using EasyAbp.FileManagement.Localization
@model EasyAbp.FileManagement.Web.Pages.FileManagement.IndexModel
@inject IStringLocalizer<FileManagementResource> L
@{
}
<h1>FileManagement</h1>
<p>@L["SamplePageMessage"]</p>
